#base_id {
    color: black;
}
.base_class {
    background-color: blue;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
.link_class {
    color: darkblue;
    :hover {
        color: blue
    }
}
